{% load static %}

<div class="header" style="height: 35px;">
    <img src="{% static 'imgs/surfsidehaventransparent.png' %}" alt="Your Image", class="overlay-image img">
    <nav>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Translate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pay Online</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All Meetings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Surfside Haven Wharf</a>
            </li>
            <li class="nav-item" style="margin-right: 160px;">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>

  
<nav class="navbar navbar-expand-lg navbar-dark bg-lighter-blue">
    <div class="container-fluid bg-lighter-blue" style="height: 100px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px;margin-right: 60px;margin-top: 25px;">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#">Animal Services</a></li>
              <li><a class="dropdown-item" href="#">Code Compliance</a></li>
              <li><a class="dropdown-item" href="#">Environmental Compliance</a></li>
              <!-- Add more items here -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px;margin-right: 60px;margin-top: 25px;">
              Community
            </a>
            <ul class="dropdown-menu" aria-labelledby="communityDropdown">
              <li><a class="dropdown-item" href="#">Education</a></li>
              <li><a class="dropdown-item" href="#">Emergency Management</a></li>
              <li><a class="dropdown-item" href="#">eNotifications</a></li>
              <!-- Add more items here -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px;margin-right: 60px;margin-top: 25px;">
              Business
            </a>
            <ul class="dropdown-menu" aria-labelledby="businessDropdown">
              <li><a class="dropdown-item" href="#">Bidding Information</a></li>
              <li><a class="dropdown-item" href="#">Building Inspection Services</a></li>
              <li><a class="dropdown-item" href="#">Business License Database</a></li>
              <!-- Add more items here -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="governmentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px;margin-right: 60px;margin-top: 25px;">
              Government
            </a>
            <ul class="dropdown-menu" aria-labelledby="governmentDropdown">
              <li><a class="dropdown-item" href="#">City Council</a></li>
              <li><a class="dropdown-item" href="#">Advisory Bodies</a></li>
              <li><a class="dropdown-item" href="#">City Calendar</a></li>
              <!-- Add more items here -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="howDoIDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px;margin-right: 60px;margin-top: 25px;">
              How Do I...
            </a>
            <ul class="dropdown-menu" aria-labelledby="howDoIDropdown">
              <li><a class="dropdown-item" href="#">Apply for</a></li>
              <li><a class="dropdown-item" href="#">Pay</a></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
              <!-- Add more items here -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
  