<!-- public announcement banner -->
<div class="info-banner" style="height: 300px">

    <span style="font-weight: bold;font-size: 23px;">
        Stay updated about the Surfside Haven Municipal Wharf Incident and learn how to support wharf businesses. 
        <a href="url" style="color:#296f92;font-weight: bold;">Learn more</a><a>!</a>
    </span><br><br><br><br><br>
    
    <a href="#" class="learn-more-button" style="float: right;font-size: 19px;font-weight: 400;transform: translate(20%, -60%);overflow: hidden;">
    Learn More
    </a>
</div>