.container {
    position: relative; /* Needed to position the image absolutely */
}


img {
    position: absolute; /* Keeps the image overlaying other elements if necessary */
    top: 0; /* Adjust this value to better position the image */
    float: left; /* Starts at 10% from the left; adjust as necessary */
    height: 135px; /* Fixed height */
    width: auto; /* Maintain aspect ratio */
    z-index: 10; /* Keeps it above other content */
}


@media (max-width: 720px) {
    img {
        display: none; /* Hides the image on small screens */
        left: 5%; /* Adjusts left position to prevent overlapping */
        height: 100px; /* Adjusts height to scale down the image */
    }
}


.learn-more-button {
    background-color: #296f92; /* Blue background for the button */
    color: white; /* White text color */
    padding: 20px 100px; /* Increased padding to make the button bigger */
    text-decoration: none; /* No underline */
    border: none; /* No border */
    cursor: pointer; /* Cursor pointer for button */
    border-radius: 5px; /* Rounded corners for the button */
    position: absolute; /* Position absolute to place it exactly where needed */
    right: 17%; /* Positioning to the right (adjust percentage as needed) */
}


.learn-more-button:hover {
    text-decoration: underline; /* Darker blue on hover */
}


/* Ensures the footer is pushed down if content is too short */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1; /* Pushes the footer down */
}


.content {
    height: 200px; /* Example height */
    width: 100%; /* Full width */
    background-color: #f0f0f0; /* Light grey background */
}