.container {
    position: relative; /* Needed to position the image absolutely */
}

.learn-more-button:hover {
    text-decoration: underline; /* Darker blue on hover */
}


/* Ensures the footer is pushed down if content is too short */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1; /* Pushes the footer down */
}


.content {
    height: 200px; /* Example height */
    width: 100%; /* Full width */
    background-color: #f0f0f0; /* Light grey background */
}


